<ul class="list-group">
  <li class="list-group-item" ng-repeat="entity in online.entities">{{entity.host}} : {{entity.type}}<button class="btn btn-default" ng-click="entity.reset()">reset</button>
    <ul ng-if="entity.type === online.types.RESOURCES">keys
      <li ng-repeat="key in entity.keys">{{key}}</li>
    </ul>
    <ul ng-if="entity.type === online.types.CORE">plugins
      <li ng-repeat="plugin in entity.plugins">{{plugin.library}}:{{plugin.type}}</li>
    </ul>
    <ul ng-if="entity.type === online.types.CORE">components
      <li ng-repeat="component in entity.components">{{component.id}}</li>
    </ul>
  </li>
</ul>