<ul class="list-group">
  <li class="list-group-item" ng-repeat="entity in online.entities">
    <div class="panel panel-default">
      <div class="panel-heading">

        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
        <img class="mylife-icon" static-image-src="Entity" title="Entity"></img>
        <h3 class="panel-title">{{entity.host}}</h3>
        <img class="mylife-icon" enums-image-src="{ type: 'EntityType', value: entity.type }" enums-title="{ type: 'EntityType', value: entity.type }"></img>
        <button class="btn btn-default" ng-click="entity.reset()"><img class="mylife-icon" static-image-src="CommandRefresh" title="Refresh"></img></button>

      </div>
      <div class="panel-body" uib-collapse="isCollapsed">

        <ul ng-if="entity.type === online.types.RESOURCES">keys
          <li ng-repeat="key in entity.keys">{{key}}</li>
        </ul>
        <ul ng-if="entity.type === online.types.CORE">plugins
          <li ng-repeat="plugin in entity.plugins">{{plugin.library}}:{{plugin.type}}</li>
        </ul>
        <ul ng-if="entity.type === online.types.CORE">components
          <li ng-repeat="component in entity.components">{{component.id}}</li>
        </ul>

      </div>
    </div>

  </li>
</ul>