<ul>
  <li ng-repeat="entity in startup.entities">{{entity.id}} : {{entity.type}}
    <ul ng-if="entity.type === startup.types.RESOURCES">keys
      <li ng-repeat="key in entity.keys">{{key}}</li>
    </ul>
    <ul ng-if="entity.type === startup.types.CORE">plugins
      <li ng-repeat="plugin in entity.plugins">{{plugin.library}}:{{plugin.type}}</li>
    </ul>
    <ul ng-if="entity.type === startup.types.CORE">components
      <li ng-repeat="component in entity.components">{{component.id}}</li>
    </ul>
  </li>
</ul>